In [31]:
import pandas as pd
from datetime import datetime

In [5]:
df= pd.read_csv('netflix_titles.csv')
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

### Task 1 what is the most popular release year for movies on netflix?

In [97]:
df_movies= df[df['type']=='Movie']
years_movies_count = df_movies.groupby('release_year').size()
df_years_movies_count= pd.DataFrame(years_movies_count.sort_values(ascending=False))
df_years_movies_count.head()

                0
release_year
2018          767
2017          767
2016          658
2019          633
2020          517

### Task 2 what year netflix added the most content to it's platform?

In [44]:
#transforming the date column into date type and extracting the year
df['new_date_added'] = pd.to_datetime(df['date_added'].str.strip(), format='%B %d, %Y')
df['year_added']= df['new_date_added'].dt.year

In [89]:
df['count']=1
added_content_yearly_sum = df.groupby('year_added')['count'].sum().reset_index()[['year_added','count']]
added_content_yearly_sum.sort_values(['count'],ascending=False).head()

    year_added  count
11      2019.0   2016
12      2020.0   1879
10      2018.0   1649
13      2021.0   1498
9       2017.0   1188

### Task 3 : independant of year what is the most popular month to add new content?

In [88]:
df['month_added']= df['new_date_added'].dt.month
added_content_monthly_sum = df.groupby('month_added')['count'].sum().reset_index()[['month_added','count']]
added_content_monthly_sum.sort_values(['count'],ascending=False).head()

    month_added  count
6           7.0    827
11         12.0    813
8           9.0    770
3           4.0    764
9          10.0    760

### Task4: what is the movie with the longest title in dataset?

In [74]:
df['title_len'] = [len(title) for title in df['title']]
df_movies= df[df['type']=='Movie']
df_movies[df_movies['title_len'] == df_movies['title_len'].max()].iloc[0]['title']

'Jim & Andy: The Great Beyond - Featuring a Very Special, Contractually Obligated Mention of Tony Clifton'

### Task5: which actor/actress show up most frequently in netflix dataset?

In [82]:
actors_showup = df['cast'].str.split(', ').explode().value_counts()
actors_showup.sort_values(ascending=False).head()

cast
Anupam Kher         43
Shah Rukh Khan      35
Julie Tejwani       33
Naseeruddin Shah    32
Takahiro Sakurai    32
Name: count, dtype: int64

In [100]:
df.to_csv('newdata.csv')